{{outlet}}

<section class="note-field">
  {{textarea placeholder="Add a note" property="stuff" value=noteCopy}}
</section>

<section class="add">
  {{noteCopy}}
  <button {{action 'newNote'}}>Add Note</button>
</section>

<hr>

{{#each note in model}}
  <article class="view">
    {{note.body}}
    <button {{action 'deleteNote' note.id}}>Delete Note</button>
  </article>
{{/each}}
